:host {
    --color-bg-default: rgb(31 41 55 / 0.5);
    --color-fg-primary: #ea5629;
    --color-fg-default: #fff;
    --color-fg-accent: #209555;
    --color-bg-inrange: #333;
    --color-fg-locked: #5b5b5b;
    --day-width: 35px;
    --day-height: 30px;
}

/* increase start and end */
.container.range-plugin .calendar>.days-grid>.day.start,
.container.range-plugin .calendar>.days-grid>.day.end {
    font-weight: bold;
    transform: scale(1.2);
    z-index: 1;
}
